In [1]:
import os
import pandas as pd
os.getcwd()

'C:\\Users\\regis\\OneDrive\\Dokumente\\GitHub\\wake_effect\\delta_wind_velocity'

In [2]:
wind_dir = pd.read_csv('C:/Users/regis/OneDrive/Dokumente/GitHub/wake_effect/data/Wind_direction.csv')
wind_v = pd.read_csv('C:\\Users\\regis\\OneDrive\\Dokumente\\GitHub\\wake_effect\\data\\Windfarm.csv')

In [3]:
wind_dir['60.0'].isna().sum()

15084

In [4]:
df = wind_dir.merge(wind_v, left_on='Unnamed: 0', right_on='Unnamed: 0')

In [5]:
df

,Unnamed: 0,10.0,40.0,60.0,80.0,100.0,WTG1,WTG2,WTG3,WTG4,...,WTG23,WTG24,WTG25,WTG26,WTG27,WTG28,WTG29,WTG30,WTG31,WTG32
0,2013-08-01 00:00:00,NaN,NaN,129.7,110.8,113.0,11.3,12.4,10.4,9.8,...,13.4,12.5,12.2,12.6,12.5,12.8,13.8,12.9,12.4,8.9
1,2013-08-01 00:10:00,NaN,NaN,111.9,113.0,115.5,11.6,11.9,10.4,10.7,...,12.7,13.0,12.5,14.4,12.4,12.8,13.4,13.1,13.2,9.8
2,2013-08-01 00:20:00,NaN,NaN,116.3,110.2,112.2,11.8,12.5,10.8,10.6,...,12.2,12.1,11.7,12.2,12.0,12.2,13.2,12.4,12.3,8.7
3,2013-08-01 00:30:00,NaN,NaN,115.2,112.6,115.9,11.7,11.6,10.6,10.4,...,12.8,13.2,10.9,12.4,12.3,12.3,12.4,11.8,10.5,8.6
4,2013-08-01 00:40:00,NaN,NaN,118.4,116.6,118.8,10.5,11.0,8.6,8.8,...,12.6,12.7,10.9,11.9,12.0,12.5,10.0,12.0,11.5,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52555,2014-07-31 23:10:00,NaN,NaN,NaN,99.8,101.8,8.5,8.9,7.5,7.4,...,9.3,9.6,8.9,9.9,9.6,9.7,9.3,9.4,9.2,5.1
52556,2014-07-31 23:20:00,NaN,NaN,NaN,103.0,106.0,8.3,9.3,7.6,7.3,...,9.2,9.6,9.5,9.5,9.1,9.4,9.3,9.9,9.6,5.1
52557,2014-07-31 23:30:00,NaN,NaN,NaN,104.5,106.9,9.5,9.4,8.2,7.7,...,9.6,10.1,9.5,10.1,9.7,9.9,9.7,10.0,9.8,5.4
52558,2014-07-31 23:40:00,NaN,NaN,NaN,106.4,108.5,9.5,9.8,8.3,7.6,...,10.0,9.9,9.7,10.0,10.0,10.2,9.8,10.2,9.9,5.3
52559,2014-07-31 23:50:00,NaN,NaN,NaN,105.3,107.3,9.9,9.8,8.5,8.5,...,10.3,10.3,10.0,10.1,10.0,10.1,10.0,10.3,10.2,5.4

In [14]:
df['60.0'] = df['60.0'].round(decimals=0)
df['80.0'] = df['80.0'].round(decimals=0)
df['100.0'] = df['100.0'].round(decimals=0)
df = df.drop(columns = ['10.0'])
df = df.drop(columns = ['40.0'])

KeyError: "['10.0'] not found in axis"

In [27]:
df1 = df.groupby(['100.0']).mean()

In [28]:
df11 = df1['WTG3']

In [29]:
//// test

SyntaxError: invalid syntax (<ipython-input-29-f5f40dfd27e9>, line 1)

In [52]:
df2 = df.groupby(['80.0']).mean()

In [53]:
df2

,60.0,100.0,WTG1,WTG2,WTG3,WTG4,WTG5,WTG6,WTG7,WTG8,...,WTG23,WTG24,WTG25,WTG26,WTG27,WTG28,WTG29,WTG30,WTG31,WTG32
80.0,,,,,,,,,,,,,,,,,,,,,
0.0,9.00,5.000000,3.150000,3.100000,3.050000,2.550000,2.900000,2.500000,3.25,2.30,...,3.700000,2.950000,3.850000,2.950000,3.85,3.150000,3.750000,4.250000,4.05,3.750000
1.0,19.00,22.000000,3.200000,3.200000,2.900000,2.800000,2.900000,2.500000,3.10,2.70,...,1.700000,2.000000,2.000000,2.200000,2.10,2.000000,2.200000,2.500000,2.70,2.000000
2.0,353.00,7.000000,5.100000,5.000000,5.400000,4.900000,5.200000,4.900000,5.30,4.50,...,5.000000,4.400000,5.100000,4.000000,5.10,4.000000,5.100000,5.600000,5.30,5.000000
3.0,4.00,18.500000,2.700000,2.550000,2.700000,2.550000,2.600000,2.500000,2.80,2.50,...,1.600000,1.650000,1.450000,1.750000,2.05,1.550000,1.250000,1.000000,1.40,1.300000
4.0,NaN,16.000000,2.700000,2.600000,3.000000,3.300000,3.100000,2.900000,2.90,2.70,...,1.900000,2.200000,2.300000,2.400000,1.70,1.700000,1.700000,2.000000,2.20,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356.0,350.00,13.000000,1.750000,1.750000,1.500000,1.550000,1.650000,1.300000,1.65,1.25,...,2.300000,2.050000,2.700000,1.700000,2.45,1.750000,2.200000,2.400000,2.50,2.500000
357.0,177.75,97.750000,4.250000,4.275000,4.575000,4.225000,4.250000,3.825000,4.25,3.90,...,4.075000,3.475000,4.100000,3.175000,4.15,3.050000,3.875000,4.500000,4.35,4.150000
358.0,7.00,353.000000,1.200000,1.400000,1.200000,1.100000,1.900000,1.200000,0.90,1.10,...,1.000000,1.200000,0.800000,1.300000,1.20,0.900000,1.200000,1.200000,1.60,0.900000
359.0,172.00,10.000000,4.400000,4.350000,4.350000,4.150000,4.200000,3.700000,4.30,3.60,...,3.700000,3.100000,3.800000,2.950000,4.05,3.400000,3.800000,4.150000,4.00,3.750000
360.0,221.00,18.666667,2.733333,2.433333,2.633333,2.466667,2.666667,2.333333,2.70,2.50,...,2.666667,2.566667,3.233333,2.666667,3.00,2.766667,3.133333,3.466667,3.40,3.233333

In [31]:
df3 = df1['WTG3'] - df2['WTG3']

In [54]:
df.sum('80.0')

ValueError: No axis named 80.0 for object type <class 'pandas.core.frame.DataFrame'>

In [32]:
for i in df3:
    print(i)

nan
2.0749999999999997
nan
-0.49999999999999956
2.9000000000000004
nan
nan
3.000000000000001
nan
-2.5666666666666673
nan
-2.1333333333333333
3.4750000000000005
1.2500000000000009
-0.326666666666668
-1.2750000000000004
0.04285714285714359
-0.3285714285714274
1.15
-1.2333333333333334
1.212499999999999
0.05714285714285783
-0.47499999999999964
-0.24666666666666703
-0.44571428571428573
-0.1437500000000016
-1.4583333333333321
0.40756302521008436
-0.44545454545454444
-0.32414860681114543
-0.5216666666666665
-0.8869281045751629
0.18644501278772196
0.3599537037037024
0.38395802098950416
-0.9779354838709677
-0.6121693121693133
-0.6542597187758483
0.166187739463604
-0.06971514242878563
-0.19142857142857306
-0.23831199620673438
0.07511784511784647
0.011538461538464162
-0.09711607786589926
-0.21831306990881494
-0.16420512820512467
0.04096454441479391
0.41703762586115545
-0.4237704918032792
-0.42577824049973767
0.09763087843833596
-0.2924528301886786
-0.07525900025900256
-0.08871090770404333
-0.06157084785133904
0.4237359098228648
0.044765420704504066
0.2644707863712954
0.10673021212970735
0.2002619451855434
0.13963080727786092
0.25688271909890315
0.2778713745271162
0.0050033017829642645
0.001149997510839107
-0.15474426686786646
-0.04244094249104968
-0.0798123991577091
-0.18831765720623306
-0.22523333129994505
-0.35412950976866764
-0.4286101017176689
-0.5034756007666132
-0.4457415839974068
-0.5906743078937353
-0.47279102612852686
-0.3621652293870987
-0.5460996263775986
-0.5821093389152514
-0.3125629425146368
-0.23421591216598792
-0.33272186368506773
-0.10137732575291025
-0.1041432951393535
0.012335567923100754
-0.10104954655093934
-0.14862630227995055
-0.1637510949928327
-0.11575106915381106
0.05782673647095038
-0.160009368135416
0.0584901165577385
0.01730620614183742
0.17744179086239242
0.13446082574771268
0.12056638575828771
0.4372545576522153
0.2476102032201677
0.21943752142263406
0.21013536502381847
0.322689345623842
0.09392156862746415
-0.06148484848485847
-0.12716640502356746
-0.1765337763012047
-0.3880088813963516
-0.1924466338259485
-0.03610009749755427
-0.18531310306081217
-0.220543384879738
-0.25306386120339575
0.018366386075058472
-0.17188143739986472
-0.07924483306837082
-0.08003018263574369
-0.0036473070690767884
0.07029565655929026
0.004431074484627651
0.04841909149942314
0.26656271777003937
0.026114215857492518
0.027790262172274538
0.40648964754227457
0.1668743890518023
0.15376456876456945
-0.06927099741667497
-0.1592989289191804
-0.246429640718568
-0.3215277777777761
-0.6899470899470854
-0.27276422764227704
-0.448356780771201
-0.5243827160493844
-0.3781940144478817
-0.4541445623342195
-0.5947759789156617
-0.39563253012047994
-0.57626235639861
-0.24963108373383935
-0.28804933124891363
-0.0910813823857275
-0.07769337016574518
-0.050546390447666845
-0.044449884400923345
0.04494489282305114
-0.006523263970072968
-0.021484128652510037
0.22587209302325473
0.2539655172413777
0.18468002209752044
0.33243352135374593
0.3020176544766757
0.09197679071628873
0.43943821965197927
0.18814107500385013
0.48338493761952517
0.11488636363636129
-0.0060444444444422984
0.07608695652173747
0.1436378806841896
-0.006666666666667709
0.12297734627831503
-0.4563347358578751
-0.16307738906557212
0.11008158508158594
-0.3518287243532576
-0.10339869281045733
-0.4700124533001224
-0.7722340425531904
0.16428571428571637
-0.11265260821309653
-0.011485507246378646
-0.14792792792792753
-0.23399234693877613
-0.11666666666666714
0.12536945812807865
-0.07833333333333403
0.32187499999999947
0.34629847238542943
0.27638888888888946
0.23939962476547727
0.049999999999998934
0.2642045454545441
-0.1165188470066516
0.5771428571428574
0.4798534798534799
0.47747252747252666
-0.4996153846153848
0.0584615384615379
0.24294871794871797
-0.07181818181818134
0.2833333333333341
0.31538461538461604
0.7457875457875445
0.30961538461538396
-0.04999999999999982
1.7374999999999998
-0.244705882352942
2.1214285714285714
0.3967032967032962
0.6699999999999999
0.17499999999999982
1.4566666666666666
-3.0700000000000007
0.7722222222222221
1.049999999999999
0.617142857142857
0.39285714285714324
0.8399999999999994
1.6833333333333336
0.9250000000000003
-0.10000000000000009
-1.580952380952381
0.81111111111111
-0.04999999999999982
-1.333333333333333
1.1166666666666667
0.6499999999999999
0.39999999999999947
0.6285714285714286
-0.9000000000000004
0.8166666666666673
0.7500000000000009
nan
1.0499999999999998
nan
nan
nan
nan
nan
nan
nan
0.75
0.2999999999999998
1.85
nan
-1.9
nan
nan
0.1333333333333333
nan
0.35000000000000053
0.07499999999999973
nan
0.75
0.30000000000000027
nan
-0.2999999999999998
nan
-2.0
-1.3000000000000003
1.1999999999999997
nan
0.19999999999999973
1.9000000000000001
nan
nan
nan
nan
-1.65
nan
nan
nan
nan
-1.3933333333333335
1.2999999999999998
nan
1.0500000000000003
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
1.0999999999999996
nan
nan
1.1
nan
nan
-0.6499999999999999
nan
nan
0.30000000000000004
nan
-0.8999999999999999
2.0
nan
1.9500000000000002
nan
0.19999999999999973
nan
0.9666666666666668
0.19999999999999973
nan
-2.8
1.0499999999999998
0.10000000000000009
nan
-1.7999999999999998
1.1500000000000001
nan
nan
nan
1.9
nan
nan
-2.65
1.0500000000000003
-0.3500000000000001
-2.7
0.2666666666666666
0.9499999999999997
nan
-0.19999999999999996
-1.7666666666666668
nan
nan
nan
2.55
nan
nan
-1.0250000000000004
-0.29999999999999993
nan
nan

In [45]:
x['id_sum'] = df.groupby('id')['value'].transform('sum')

TypeError: 'method' object is not subscriptable

In [ ]:
x