In [35]:
import os
import pandas as pd
os.getcwd()

'C:\\Users\\regis\\OneDrive\\Dokumente\\GitHub\\wake_effect\\delta_wind_velocity'

In [36]:
wind_dir = pd.read_csv('C:/Users/regis/OneDrive/Dokumente/GitHub/wake_effect/data/Wind_direction.csv')
wind_v = pd.read_csv('C:\\Users\\regis\\OneDrive\\Dokumente\\GitHub\\wake_effect\\data\\Windfarm.csv')

In [42]:
wind_dir['60.0'].isna().sum()

15084

In [48]:
wind_v['Unnamed: 0']

0        2013-08-01 00:00:00
1        2013-08-01 00:10:00
2        2013-08-01 00:20:00
3        2013-08-01 00:30:00
4        2013-08-01 00:40:00
                ...
52555    2014-07-31 23:10:00
52556    2014-07-31 23:20:00
52557    2014-07-31 23:30:00
52558    2014-07-31 23:40:00
52559    2014-07-31 23:50:00
Name: Unnamed: 0, Length: 52560, dtype: object

In [49]:
wind_v

,Unnamed: 0,WTG1,WTG2,WTG3,WTG4,WTG5,WTG6,WTG7,WTG8,WTG9,...,WTG23,WTG24,WTG25,WTG26,WTG27,WTG28,WTG29,WTG30,WTG31,WTG32
0,2013-08-01 00:00:00,11.3,12.4,10.4,9.8,9.9,10.5,11.4,10.5,11.2,...,13.4,12.5,12.2,12.6,12.5,12.8,13.8,12.9,12.4,8.9
1,2013-08-01 00:10:00,11.6,11.9,10.4,10.7,10.6,10.7,12.0,9.8,11.8,...,12.7,13.0,12.5,14.4,12.4,12.8,13.4,13.1,13.2,9.8
2,2013-08-01 00:20:00,11.8,12.5,10.8,10.6,10.4,10.5,11.9,10.0,11.7,...,12.2,12.1,11.7,12.2,12.0,12.2,13.2,12.4,12.3,8.7
3,2013-08-01 00:30:00,11.7,11.6,10.6,10.4,10.1,10.3,11.7,9.2,11.4,...,12.8,13.2,10.9,12.4,12.3,12.3,12.4,11.8,10.5,8.6
4,2013-08-01 00:40:00,10.5,11.0,8.6,8.8,10.6,10.8,10.5,9.2,10.9,...,12.6,12.7,10.9,11.9,12.0,12.5,10.0,12.0,11.5,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52555,2014-07-31 23:10:00,8.5,8.9,7.5,7.4,6.6,7.6,8.5,8.2,9.2,...,9.3,9.6,8.9,9.9,9.6,9.7,9.3,9.4,9.2,5.1
52556,2014-07-31 23:20:00,8.3,9.3,7.6,7.3,6.5,7.7,8.2,8.7,9.1,...,9.2,9.6,9.5,9.5,9.1,9.4,9.3,9.9,9.6,5.1
52557,2014-07-31 23:30:00,9.5,9.4,8.2,7.7,7.6,8.5,9.6,9.4,9.7,...,9.6,10.1,9.5,10.1,9.7,9.9,9.7,10.0,9.8,5.4
52558,2014-07-31 23:40:00,9.5,9.8,8.3,7.6,7.7,8.4,9.6,9.3,9.9,...,10.0,9.9,9.7,10.0,10.0,10.2,9.8,10.2,9.9,5.3
52559,2014-07-31 23:50:00,9.9,9.8,8.5,8.5,8.2,8.8,10.0,9.6,10.3,...,10.3,10.3,10.0,10.1,10.0,10.1,10.0,10.3,10.2,5.4

In [41]:
wind_dir

                Unnamed: 0   60.0   80.0  100.0
0      2013-08-01 00:00:00  129.7  110.8  113.0
1      2013-08-01 00:10:00  111.9  113.0  115.5
2      2013-08-01 00:20:00  116.3  110.2  112.2
3      2013-08-01 00:30:00  115.2  112.6  115.9
4      2013-08-01 00:40:00  118.4  116.6  118.8
...                    ...    ...    ...    ...
52555  2014-07-31 23:10:00    NaN   99.8  101.8
52556  2014-07-31 23:20:00    NaN  103.0  106.0
52557  2014-07-31 23:30:00    NaN  104.5  106.9
52558  2014-07-31 23:40:00    NaN  106.4  108.5
52559  2014-07-31 23:50:00    NaN  105.3  107.3

[52560 rows x 4 columns]

In [52]:
df = wind_dir.merge(wind_v, left_on='Unnamed: 0', right_on='Unnamed: 0')

In [53]:
df

,Unnamed: 0,60.0,80.0,100.0,WTG1,WTG2,WTG3,WTG4,WTG5,WTG6,...,WTG23,WTG24,WTG25,WTG26,WTG27,WTG28,WTG29,WTG30,WTG31,WTG32
0,2013-08-01 00:00:00,129.7,110.8,113.0,11.3,12.4,10.4,9.8,9.9,10.5,...,13.4,12.5,12.2,12.6,12.5,12.8,13.8,12.9,12.4,8.9
1,2013-08-01 00:10:00,111.9,113.0,115.5,11.6,11.9,10.4,10.7,10.6,10.7,...,12.7,13.0,12.5,14.4,12.4,12.8,13.4,13.1,13.2,9.8
2,2013-08-01 00:20:00,116.3,110.2,112.2,11.8,12.5,10.8,10.6,10.4,10.5,...,12.2,12.1,11.7,12.2,12.0,12.2,13.2,12.4,12.3,8.7
3,2013-08-01 00:30:00,115.2,112.6,115.9,11.7,11.6,10.6,10.4,10.1,10.3,...,12.8,13.2,10.9,12.4,12.3,12.3,12.4,11.8,10.5,8.6
4,2013-08-01 00:40:00,118.4,116.6,118.8,10.5,11.0,8.6,8.8,10.6,10.8,...,12.6,12.7,10.9,11.9,12.0,12.5,10.0,12.0,11.5,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52555,2014-07-31 23:10:00,NaN,99.8,101.8,8.5,8.9,7.5,7.4,6.6,7.6,...,9.3,9.6,8.9,9.9,9.6,9.7,9.3,9.4,9.2,5.1
52556,2014-07-31 23:20:00,NaN,103.0,106.0,8.3,9.3,7.6,7.3,6.5,7.7,...,9.2,9.6,9.5,9.5,9.1,9.4,9.3,9.9,9.6,5.1
52557,2014-07-31 23:30:00,NaN,104.5,106.9,9.5,9.4,8.2,7.7,7.6,8.5,...,9.6,10.1,9.5,10.1,9.7,9.9,9.7,10.0,9.8,5.4
52558,2014-07-31 23:40:00,NaN,106.4,108.5,9.5,9.8,8.3,7.6,7.7,8.4,...,10.0,9.9,9.7,10.0,10.0,10.2,9.8,10.2,9.9,5.3
52559,2014-07-31 23:50:00,NaN,105.3,107.3,9.9,9.8,8.5,8.5,8.2,8.8,...,10.3,10.3,10.0,10.1,10.0,10.1,10.0,10.3,10.2,5.4